<input type="range" step="0.001" min="0" max="1" value="0" style="width: 70px;">
<input type="number" step="0.1" min="-255" max="255" value="0" style="width: 70px;">
<input type="number" step="0.1" min="0" max="360" value="0" style="width: 70px;">
<input type="number" step="0.1" min="0" max="100" value="0" style="width: 70px;">
<select name="mix type">
    <option value="mix">mix</option>
    <option value="add">add</option>
	<option value="multiply">multiply</option>
	<option value="subtract">subtract</option>
	<option value="diffrence">diffrence</option>
	<option value="lighten">lighten</option>
	<option value="darken">darken</option>
</select>

