body
{
	font-family:		Arial, sans-serif;
	background-color:	#000;
	color:				#fff;
	margin:				0px;
	overflow:			hidden;
}

#toolbar
{
	color:				rgba(158, 158, 158);
	text-align:			center;
	font-size:			25px;

	position:			fixed;
	top:				0px;
	left:				0px;
	width:				13vw;
	height:				100%;

	background-color: rgb(63, 63, 63, 0.7);
}

.overlap
{
	background-color:	rgba(37, 37, 37, 0.7);
	padding-bottom:		2px;
	padding-top:		2px;
}

.option
{
	font-size:			20px;
	margin-bottom:		6px;
}

.option:hover
{
	font-size:			20px;
	margin-bottom:		6px;
	color:				yellow;
}

.previewImage
{
	position:			absolute;
}

.inputImage
{
	position:			absolute;
}