body
{
	font-family:		Arial, sans-serif;
	background-color:	#000;
	color:				#fff;
	margin:				0px;
	overflow:			hidden;
}

.option
{
	font-size:			20px;
	margin-bottom:		6px;
}

.option:hover
{
	font-size:			20px;
	margin-bottom:		6px;
	color:				yellow;
}

.inputImage
{
	position:			relative;
	display:			block;
	width:				0.1px;
	height:				0.1px;
	opacity:			0;
	overflow:			hidden;
	z-index:			-1;
}

.inputImage + label:hover {
    color:				#ffff00;
}

.divImage
{
	width:				120px;
	height:				120px;
	position:			relative;
	float:				left;
	margin:				0;
	margin-top:			20px;
	top:				-20px;
}

#runButton
{
	display:			block;
	margin-top:			5px;
	left:				0;
}

#program
{
	display:			block;
	margin-top:			5px;
}
.imagesContainer
{
	left:				0;
	top:				0;
	width:				100vw;
	height:				140px;
	white-space:		nowrap;
	overflow-x:			auto;
}

.showedImage
{
	display:			block;
	max-height:			120px;
	max-width:			120px;
}
label
{
	display:			block;
	text-align:			center;
}

/*#imagesContainer
{
	position:			absolute;
	top:				0;
	left:				0;
	display:			block;
	height:				100vw;
	width:				140px;
	overflow-y:			auto;
	overflow-x:			hidden;
	transform-origin:	left top;
	transform:			rotate(90deg) translateY(100px);
	
}

#imagesContainer > div
{
	transform:			rotate(-90deg);
	transform-origin:	left top;
}*/

#plusButton
{
	width:				35px;
}
#minusButton
{
	width:				35px;
}

textarea
{
	width:				700px;
	height:				470px;
	font-size:			20px;
	padding:			5px;
	line-height:		20px;
	border-radius:		3px;
	border:				1px solid #222222;
	background-color:	#333333;
	color:				#eeeeee;
	font-family:		Consolas, 'Courier New', Courier, monospace;
}

a
{
	font-family:		Arial, Helvetica, sans-serif;
	color:				#ffff00;
	text-decoration:	none; 
}
a:hover
{
	color:				#ff0000;
}

#errorlog
{
	color:				#ff0000;
	font-family:		Consolas, 'Courier New', Courier, monospace;
}